.alert{
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.notification a:not(.button) {
    text-decoration: none !important;
}
.asideA {
    background-color: #e3e4e580
}

.asideB {
    background-color: #fdfeff
}

.new_thread_button {
    height: 38px !important;
    margin-top: 2px;
}

.bread {
    background-color: #fff; //border-bottom: 1px solid #85858a4f;
    margin-top: 2px;
}

.is-circle {
    border-radius: 50%;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mt--1{
    margin-top: -10px;
}
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-8 {
    margin-top: 80px;
}

.breadcrumb a {
    color: black !important;
}

.active-forum-menu {
    color: #3273dc !important;
    font-size: 20px;
}